
.cart-body {
	margin: 10px;
	& > div {
		margin-left: 15px;
		margin-right: 15px;
	}
	.checkout-btn {
		border: none !important;
		position: relative;
	}
	.button {
		padding: 0 !important;
		//flex-basis: auto !important;
	}
	h1 {
		text-align: right;
		//flex-basis: 100%
		padding-right: 20px;
		color: #2ea3f2;
		font-size: 2.75em;
	}
}

.cart-app-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 0 0;
	}
	
	.cart-flex-controller {
		padding-bottom: 10px;
	}

	.cart-area {
		padding-right: 10px;
		padding-bottom: 20px;
		transition: all 0.8s ease-in-out;
	}

	.cart-header {
		width: 100%;
		display: flex;
		//background-color: rgb(0, 188, 212);
		background-color: #2ea3f2;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	
	.cover-thumbnail, .base-desc {
		width: 50%;
		flex-basis: 50%;
		align-content: center;
		padding: 10px 0;
	}
	
	.cover-image {
		margin: 20px 0 0 calc(100% - 145px);
		width: 140px;
		height: 168px;
		display: block;
		align-items: flex-end;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	}
	
	.cart-title {
		text-transform: lowercase;
		font-variant: small-caps;
		text-align: left;
		color: white;
		font-weight: bold;
		margin: 0 0 0 15px;
		//color: rgb(245,106,92)
		opacity: 0.7;
	}
	
	h5.cart-title {
		font-size: 24px;
		margin: 15px 0 0 15px;
		line-height: 0.9;
	}
	
	h4.cart-title {
		margin: 0 auto;
		text-align: left;
	}
	
	.cart-title, .cover-thumbnail {
		//background-color: #455A64; //rgba(75, 88, 103, 0.6);
	}
	
	.cart-subtotal {
		max-width: 100%;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		color: rgb(69,149,182);
	}
	
	.base-package-checklist {
		list-style: none;
		margin: 0 0 0 15px;
		padding: 0 0 0 0;
		//border-top: 1px solid orange;
		//border-bottom: 1px solid orange;
		display: flex;
		flex-direction: column;
		
		.cart-list-item {
			display: flex;
			justify-content: flex-start;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			height: 36px;
			color: white;
			font-weight: bold;
		}
	}
	
	.checklist-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}
	
	.cart-nav-check {
		max-width: 100%;
		text-align: center;	
		margin-top: 6px;
		margin-right: 10px;
	}

	.options-wrapper {
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.cart-addon-option {
		display: flex;
		padding-left: 15px;
		padding-right: 17px;
		margin: 5px 0;
		height: 60px;
	}
	
	.option-segment {
		flex-basis: 30%;
		display: inline-block;
		input {
			width: 80%;
		}
	}
	
	.cart-addon-name {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		flex-basis: 50%;
		padding-left: 40px;
	}
	
	.quantity-wrapper {
		display: flex;
		padding-top: 5px;
		.quantity-steppers {
			height: 50px;
			display: flex;
			flex-direction: column;
			margin-top: 5px;
		}
	}
	
	.cart-addon-price {
		flex-basis: 25%;
		display: flex; 
		flex-direction: column;
		justify-content: center;
		text-align: right;
	}

	svg {
		fill: rgb(255,255,255) !important;
	}
	
	.quantity-wrapper div svg {
		fill: #1d92e1 !important;
	}	
}

.checkout-form.console-form h6{
	text-align: left;
	margin-left: 0;
	margin-bottom: 0;
}

.cart-actions {
	margin: 20px auto 0;
	display: flex;
	//justify-content: space-between;
	justify-content: flex-end;
	padding: 0 20px;
	.button, .button.next { 
		height: 48px;
		color: #2ea3f2;
		background-color: rgba(0,0,0,0.1);
		border: 2px solid transparent;
		border-radius: 2px;
		font-size: 20px;
		flex-basis: 48px;
		&:hover, &:focus, &:active {
			background-color: transparent;
			transition: all 0.2s;
			color: #2ea3f2;
			border-color: #2ea3f2;
		}
		
		&.set {
			margin-left: 0;
			&:nth-child(2) {
				margin-left: 2%;
			}
		}
		&:hover {
			transition: all 0.25s;
		}
		svg {
			fill: rgb(255,255,255) !important;
		}
	}
	.button.next {
		flex-basis: 48px;
	}
}




.form-area {
	padding: 10px;
	transition: all 0.2s;
	h6 {
		text-align: center;
		max-width: 90%;
		margin-left: 5%;
		margin-top: 20px;
	}
}


@media (min-width: 768px) {
	.cart-body {
		margin:15px 0 0 0;
		h4.cart-title {
			text-align: left;
			margin: 0 0 0 15px;
		}
	}
	.options-wrapper {
		width: 90%;
	}
	
	.cart-area {
		
	}
	.cart-title {
		font-size: 30px;
	}
	
	.cart-actions {
		margin: 0 auto;
		flex-basis: 100%;
		.button, .button.next, .button.back { 
			height: 48px;
			&.set {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}
